body {background-color:#000000;
  color: white;
  }
  *{list-style:none;}
nav{position:relative;
     height:20px;
     top: -8px;
     left:20px;
    }
    nav .help{position:relative;
              font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
              float:right;
              right:100px;
         
            }
    nav .men{position:absolute;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            float:right;
          right:10px;
}
    nav .men a{border:1px solid rgb(0, 0, 0);
             display:block;
             color:rgb(255, 255, 255);
             width:90px;
             text-align: center;
             font-size: 20px;
             padding:3.5% 5px;
             background-color: rgb(0, 0, 0);
            }
            nav .help a{border:1px solid rgb(0, 0, 0);
              display:block;
              color:rgb(255, 255, 255);
              width:90px;
              text-align: center;
              font-size: 20px;
              padding:3.5% 5px;
              background-color: rgb(0, 0, 0);
             }
            nav ul li a:hover,
            nav ul li a.active{
            color: #eee12b;
            }
            nav ul li{display:list-item;}
            nav ul li:hover>ul{visibility:visible;
             }
    nav ul ul{visibility:hidden;
    text-align:center;
 }
 nav ul .men ul li a{text-align: center;}
 nav ul ul li{position:relative;
              right:40px;
             }
             
     #img1{width: 1465px;
      border: 0px solid black;
      border-radius:30px;
      height:500px;
      position:relative;
      z-index: -1;
      top:-95px;
      left:1%;
     }
.header{background-color:#181818;}
.feedback{height: 20px;
          position:relative;
          }
          

.logo{background-image:url(logo\ 2.png);
      background-size:220px 70px;
      background-position:left;
      background-repeat: no-repeat;
      padding:20px 10px;
      width:200px;
      height:55px;
      position:absolute;
      left:5%;
      } 
.sections{position:static;
          top: -35px;}
     a{padding:28px;
       }
#lib{border:3px solid rgb(231, 150, 9);
  margin: 5px;
   width:300px;
   height:200px;
  display: inline-block;
  border-radius:20px;
z-index: -1;} 

#footer{padding:20px 0px;}
#footer a{font-size:17px;
          color:rgb(231, 150, 9);
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
      }